user-info {

    p {
        margin-top: -10px;
    }

    .round {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin: 25px auto 0 auto;
        overflow: hidden;
    }

    .custom-background {
        background-color: #333;
    }

    ion-avatar {
        padding-top: 10px;
        padding-bottom: 35px;
    }

    .image {
        width: 100%;
        height: auto;
    }

}
